<!--component html goes here -->

<div id="conteneur">


<div>
    <title>Caractéristique du gite</title>
    <section style="background-color: azure">
        6 personnes <br>
        

     Jardin <br>Terrasse <br>Aérothermie <br>Parking Privé <br>

    Lit bébé et chaise haute 
    Bain(s) de Soleil<br>Barbecue<br>Salon de jardin

    Accès WIFI <br>Draps fournis <br>Lits faits à l'arrivée


    </section>

</div>
<div>
    <title>Welcome on board</title>
    <span> 
        Quelle belle rénovation pour cette maison de bourg bénéficiant maintenant d'une belle extension moderne ! 
        Gîte aménagé avec confort et soin par Claudine et Philippe. 
    </span>
    <br>
    <span>
            En famille ou entre amis, en toute saison, vous rayonnerez en toute facilité sur Lannion à 6 km, Ville d'Art et d'Histoire, 
            sur Perros-Guirec et la Côte de Granit Rose à 14 km, sur la magnifique plage de Trestel à 14 km aussi et sur Tréguier, 
            Petite Cité de Caractère à 15 km. 
    </span>
    <br>
    <span>
            Bref, de magnifiques ballades en peu de kilomètres. 
            Les amateurs de randonnée (GR34, GR34B,...) et de pêche (Le Léguer, Le Guindy, ...) se régaleront aussi.
             Bienvenue à Rospez !
    </span>
</div>

</div>

