// component css goes here
section{
    flex-grow: 1;
  
   
}
#home{
    display: flex;
    justify-content: space-around;
}
    

article{
    flex-grow: 2;
  
}

#conteneur
{
   
    display: flex;
    justify-content: space-around;
}