<!--component html goes here -->
<div class="menu">
<div class="Translate">
    <a (click)="switchLanguage('en')">en</a> | 
<a (click)="switchLanguage('fr')">fr</a>
</div>
<nav>
    <a  routerLink="home" >{{'NavBar.Home' | translate}}</a>
    &nbsp;
    <a routerLink="gite"  >{{'NavBar.HolidayCottage' | translate}}</a>
    &nbsp;
    <a > {{'NavBar.Find' | translate}}</a>
    &nbsp;
    <a >{{'NavBar.Activities' | translate}}</a>
    &nbsp;
</nav>   
</div>  
  



<!-- Creates a layout with a left-positioned sidenav and explicit content. -->




